:root {
  color: black;
  background-color: white;

  --secondary-color: #687A61;
  --ternary-color: #5a6954;

  --font-family: "Newsreader", serif;
  --secondary-font-family: "Inter", sans-serif;
  text-rendering: optimizeLegibility;
}

#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: var(--font-family) !important;
  margin: 0;
  width: 100vw;
  height: 100vh;
}