.item-count {
  color: #6D6D6D;
}

.basket-container {
  width: 80%;
}

.recipes-button {
  flex-grow: 1;
  height: 40px;
  border-radius: 10px;
  margin-left: 10px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
}

.recipes-button:hover {
  background-color: var(--ternary-color);
}

.empty-cart-container {
  height: 60vh;
  font-size: 1.5rem;
}

.empty-cart-container button {
  color: var(--secondary-color);
  text-decoration: underline;
}

.empty-cart-container button:hover {
  color: var(--ternary-color);
}